<a href="https://colab.research.google.com/github/Cvelsen22/Carmelo-Velez---Data-Analysis-Portfolio/blob/main/techniques_for_processing_data_from_dirty_to_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Let's clean!**

In [2]:
import numpy as np
import pandas as pd

## **functions available to detect null values**

In [3]:
pd.isnull(np.nan)

True

In [5]:
pd.isnull(None)

True

In [6]:
pd.isna(np.nan)

True

In [7]:
pd.isna(None)

True

We also have the oposite functions to look for none null values

In [8]:
pd.notnull(None)

False

In [9]:
pd.notnull(np.nan)

False

These fucntions work with series and Dataframe

In [10]:
pd.isnull(pd.Series([1,np.nan,7]))

0    False
1     True
2    False
dtype: bool

In [14]:
pd.notnull(pd.Series([2,8,np.nan]))

0     True
1     True
2    False
dtype: bool

In [19]:
pd.isnull(pd.DataFrame(
    {
     'A':[1,8,np.nan],
     'B':[np.nan,0,3],
     'C':[7,9,np.nan] 
     }))

       A      B      C
0  False   True  False
1  False  False  False
2   True  False   True

## **Operations witn null values**

In [21]:
#count none null values in a serie#
pd.Series([34,68,74,np.nan,15]).count()

4

In [23]:
#summation of none null values in a serie#
pd.Series([165,np.nan,364,528,723]).sum()

1780.0

In [25]:
#calculate mean in a serie#
pd.Series([23,np.nan,15,7,99]).mean()

36.0

## **Filtering missing values**

In [26]:
s = pd.Series([34, 52, 69, np.nan, np.nan, 89])

In [29]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [30]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [31]:
pd.notnull(s).sum()

4

In [32]:
pd.isnull(s).sum()

2

In [33]:
s[pd.notnull(s)]

0    34.0
1    52.0
2    69.0
5    89.0
dtype: float64

In [34]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [35]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

## **Dropping null values**

In [36]:
s

0    34.0
1    52.0
2    69.0
3     NaN
4     NaN
5    89.0
dtype: float64

In [37]:
s.dropna()

0    34.0
1    52.0
2    69.0
5    89.0
dtype: float64

## **Dropping null values on DataFrames**
with DataFrames, you can't drop single values. You can only drop entire columns or rows.

In [38]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})

In [39]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

Always start with shape and info functions before dropping null values, this will give you a better understanding about your data

In [40]:
df.shape

(4, 4)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 256.0 bytes

In [42]:
df.isnull()

   Column A  Column B  Column C  Column D
0     False     False      True     False
1      True     False     False     False
2     False     False     False     False
3      True      True     False     False

In [43]:
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In this case we're dropping rows. Rows containing null values are dropped from the DF. You can also use the axis parameter to drop columns containing null values:

In [44]:
# axis='columns' also works#
df.dropna(axis=1)

   Column D
0         5
1         8
2        34
3       110

## **Filling null values**

In [45]:
s

0    34.0
1    52.0
2    69.0
3     NaN
4     NaN
5    89.0
dtype: float64

filling null values with an arbitrary value

In [46]:
#fillin null values with 0 #
s.fillna(0)

0    34.0
1    52.0
2    69.0
3     0.0
4     0.0
5    89.0
dtype: float64

In [48]:
#filling null values with a mean #
s.fillna(s.mean())

0    34.0
1    52.0
2    69.0
3    61.0
4    61.0
5    89.0
dtype: float64

Filling nulls with contiguous (close) values

In [49]:
s

0    34.0
1    52.0
2    69.0
3     NaN
4     NaN
5    89.0
dtype: float64

In [52]:
#filling null values with the closest values from the right#
s.fillna(method='ffill')

0    34.0
1    52.0
2    69.0
3    69.0
4    69.0
5    89.0
dtype: float64

In [53]:
#filling null values with the closest values from the left#
s.fillna(method='bfill')

0    34.0
1    52.0
2    69.0
3    89.0
4    89.0
5    89.0
dtype: float64

## **Filling null values on DataFrames**
The fillna method also works on DataFrames, The main differences are that you can specify the axis (as usual, rows or columns).

In [54]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [55]:
#filling null values with mean#
df.fillna({'Column A': 0, 'Column B': 99, 'Column C': df['Column C'].mean()})

   Column A  Column B  Column C  Column D
0       1.0       2.0      47.0         5
1       0.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3       0.0      99.0     100.0       110

In [56]:
df.fillna(method='ffill', axis=0)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110

In [57]:
df.fillna(method='ffill', axis=1)

   Column A  Column B  Column C  Column D
0       1.0       2.0       2.0       5.0
1       NaN       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3       NaN       NaN     100.0     110.0

## **Cleaning not-null values**

In [59]:
#lets start bu creating a DataFrame#
df = pd.DataFrame({
    'Sex': ['M', 'F', 'F', 'D', '?'],
    'Age': [29, 30, 24, 290, 25],
})
df

  Sex  Age
0   M   29
1   F   30
2   F   24
3   D  290
4   ?   25

The previous DataFrame doesn't have any "missing value", but clearly has invalid data. 290 doesn't seem like a valid age, and D and ? don't correspond with any known sex category. How can you clean these not-missing, but clearly invalid values then?

## **Finding Unique Values**

The first step to clean invalid values is to notice them, then identify them and finally handle them appropriately (remove them, replace them, etc). Usually, for a "categorical" type of field (like Sex, which only takes values of a discrete set ('M', 'F')), we start by analyzing the variety of values present. For that, we use the unique() method:

In [60]:
df['Sex'].unique()

array(['M', 'F', 'D', '?'], dtype=object)

In [61]:
df['Sex'].value_counts()

F    2
M    1
D    1
?    1
Name: Sex, dtype: int64

In [62]:
df['Sex'].replace('D', 'F')

0    M
1    F
2    F
3    F
4    ?
Name: Sex, dtype: object

If you have many columns to replace, you could apply it at "DataFrame level":

In [63]:
df.replace({
    'Sex': {
        'D': 'F',
        'N': 'M'
    },
    'Age': {
        290: 29
    }
})

  Sex  Age
0   M   29
1   F   30
2   F   24
3   F   29
4   ?   25

Let's say that anything above 100 isn't credible for our dataset. We can then combine boolean selection with the operation:

In [64]:
df[df['Age'] > 100]

  Sex  Age
3   D  290

In [65]:
#lets make a function to divide any value greater than 100 by 10 #

df.loc[df['Age'] > 100, 'Age'] = df.loc[df['Age'] > 100, 'Age'] / 10

In [66]:
df

  Sex   Age
0   M  29.0
1   F  30.0
2   F  24.0
3   D  29.0
4   ?  25.0

## **Duplicates**

In [68]:
#lets start with a serie#
ambassadors = pd.Series([
    'France',
    'United Kingdom',
    'United Kingdom',
    'Italy',
    'Germany',
    'Germany',
    'Germany',
], index=[
    'Grard Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varricchio',
    'Peter Wittig',
    'Peter Ammon',
    'Klaus Scharioth '
])

In [69]:
ambassadors

Grard Araud                  France
Kim Darroch           United Kingdom
Peter Westmacott      United Kingdom
Armando Varricchio             Italy
Peter Wittig                 Germany
Peter Ammon                  Germany
Klaus Scharioth              Germany
dtype: object

The two most important methods to deal with duplicates are duplicated (that will tell you which values are duplicates) and drop_duplicates (which will just get rid of duplicates):

In [70]:
ambassadors.duplicated()

Grard Araud          False
Kim Darroch           False
Peter Westmacott       True
Armando Varricchio    False
Peter Wittig          False
Peter Ammon            True
Klaus Scharioth        True
dtype: bool

In [71]:
#by default, it'll consider the first occurrence of the value as not-duplicate. You can change this behavior with the keep parameter#
ambassadors.duplicated(keep='last')

Grard Araud          False
Kim Darroch            True
Peter Westmacott      False
Armando Varricchio    False
Peter Wittig           True
Peter Ammon            True
Klaus Scharioth       False
dtype: bool

A similar method is drop_duplicates, which just excludes the duplicated values and also accepts the keep parameter:

In [72]:
ambassadors.drop_duplicates()

Grard Araud                  France
Kim Darroch           United Kingdom
Armando Varricchio             Italy
Peter Wittig                 Germany
dtype: object

In [73]:
ambassadors.drop_duplicates(keep='last')

Grard Araud                  France
Peter Westmacott      United Kingdom
Armando Varricchio             Italy
Klaus Scharioth              Germany
dtype: object

In [74]:
ambassadors.drop_duplicates(keep=False)

Grard Araud          France
Armando Varricchio     Italy
dtype: object

## **Duplicates in DataFrames**

In [75]:
players = pd.DataFrame({
    'Name': [
        'Kobe Bryant',
        'LeBron James',
        'Kobe Bryant',
        'Carmelo Anthony',
        'Kobe Bryant',
    ],
    'Pos': [
        'SG',
        'SF',
        'SG',
        'SF',
        'SF'
    ]
})

In [76]:
players

              Name Pos
0      Kobe Bryant  SG
1     LeBron James  SF
2      Kobe Bryant  SG
3  Carmelo Anthony  SF
4      Kobe Bryant  SF

In [77]:
players.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

Again, conceptually, "duplicated" means "all the column values should be duplicates". We can customize this with the subset parameter:

In [78]:
players.duplicated(subset=['Name'])

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [79]:
players.duplicated(subset=['Name'], keep='last')

0     True
1    False
2     True
3    False
4    False
dtype: bool

## **Splitting Columns**

In [82]:
# lets work with this dataframe
df = pd.DataFrame({
    'Data': [
        '1987_M_US _1',
        '1990?_M_UK_1',
        '1992_F_US_2',
        '1970?_M_   IT_1',
        '1985_F_I  T_2'
]})

In [83]:
#as you can see all the info is found in 1 column
df

              Data
0     1987_M_US _1
1     1990?_M_UK_1
2      1992_F_US_2
3  1970?_M_   IT_1
4    1985_F_I  T_2

You know that the single columns represent the values "year, Sex, Country and number of children", but it's all been grouped in the same column and separated by an underscore. Pandas has a convenient method named split that we can use in these situations:

In [84]:
# the parameter is an underscore since that is how the data is separated
df['Data'].str.split('_')

0       [1987, M, US , 1]
1       [1990?, M, UK, 1]
2        [1992, F, US, 2]
3    [1970?, M,    IT, 1]
4      [1985, F, I  T, 2]
Name: Data, dtype: object

In [85]:
df['Data'].str.split('_', expand=True)

       0  1      2  3
0   1987  M    US   1
1  1990?  M     UK  1
2   1992  F     US  2
3  1970?  M     IT  1
4   1985  F   I  T  2

In [86]:
df = df['Data'].str.split('_', expand=True)

In [87]:
df.columns = ['Year', 'Sex', 'Country', 'No Children']

In [89]:
#final result
df

    Year Sex Country No Children
0   1987   M     US            1
1  1990?   M      UK           1
2   1992   F      US           2
3  1970?   M      IT           1
4   1985   F    I  T           2

In [90]:
df['Year'].str.contains('\?')

0    False
1     True
2    False
3     True
4    False
Name: Year, dtype: bool

In [91]:
df['Country'].str.contains('U')

0     True
1     True
2     True
3    False
4    False
Name: Country, dtype: bool

In [92]:
df['Country'].str.replace(' ', '')

0    US
1    UK
2    US
3    IT
4    IT
Name: Country, dtype: object

As we said, replace and contains take regex patterns, which can make it easier to replace values in bulk:

In [93]:
df['Year'].str.replace(r'(?P<year>\d{4})\?', lambda m: m.group('year'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0    1987
1    1990
2    1992
3    1970
4    1985
Name: Year, dtype: object

As you can see, all these string/text-related operations are applied over the str attribute of the series. That's because they have a special place in Series handling